<h1>Liste des sondage</h1>

<div id="new-link">
  <a href="/admin/surveys/new">Créer un nouveau sondage</a>
</div>

<table>
  <% for(const survey of surveys) { %>
    <tr>
      <td><%= survey.question %></td>
      <td>
        <a href="/admin/surveys/<%= survey.id %>">Voir</a>
        <a href="/admin/surveys/<%= survey.id %>/edit">Modifier</a>
      </td>
    </tr>
  <% } %>
</table>

<style type="text/css">
  #new-link {
    padding: 20px;
  }
</style>
