<h1><%= survey.question %></h1>

<div class="text">
  <p>Attention ! Ceci est la page pour faire une procuration. Ceci doit être fait seulement avec la demande et l'accord du mandataire.</p>
  <br/>
  <p>La procuration empêchera le mandataire de faire un vote ensuite à son tour grâce à l'identifiant</p>
  <br/>
  <p>Afin de récupérer l'identifiant nécessaire, faire un clique droit sur le mandataire sur discord, puis cliquer sur "Copier l'identifiant de l'utilisateur". Coller cet identifiant dans le champ "Identifiant"</p>
</div>

<form id="vote-form">
  <div class="form-container">
    <label for="user_id">Identifiant</label>
    <input type="text" name="user_id" id="user_id"/>
  </div>

  <div class="vote-form-container">
    <% for(const survey_response of survey_responses) { %>
      <div class="form-container">
        <input type="radio" name="vote" value="<%= survey_response.id %>"/>
        <label for="vote"><%= survey_response.response %></label>
      </div>
    <% } %>
  </div>

  <button type="submit" class="fake-link">Voter</button>
</form>

<style type="text/css">
  form {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;
    padding: 5px;
  }
  .form-container input, .form-container label {
    padding: 5px;
  }
  .form-container input {
    background-color: #282b30;
    border-radius: 5px;
    color: #ffffff;
  }
  .vote-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #vote-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>

<script>
  const survey_id = <%= survey.id %>
  const form = document.querySelector("#vote-form")

  form.addEventListener("submit", function(event) {
    event.preventDefault()

    const vote = document.querySelector("input[name='vote']:checked")

    if (vote != undefined) {
      axios({
        method: "post",
        url: `/admin/surveys/${survey_id}/make_proxy`,
        data: {
          vote: vote.value,
          user_id: document.querySelector("input[name='user_id']").value
        }
      }).then(function(response) {
        switch (response.status) {
          case 201:
            window.location.replace(`/admin/surveys/${survey_id}`)
            break;
          case 422:
            break;
          case 404:
            break;
          default:
            console.log(`error: ${response.data}`)
        }
      })
    }
  })
</script>
