<div class="login-container">
  <a href="https://discord.com/oauth2/authorize?client_id=1294439309503369277&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fdiscord&scope=guilds.members.read+identify">
    <span>Connexion avec Discord</span>
  </a>
</div>

<style type="text/css">
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container a {
    padding: 25px;
    border-radius: 5px;
  }
</style>
