<div class="login-container">
  <a href="<%= auth_uri %>">
    <span>Connexion avec Discord</span>
  </a>
</div>

<style type="text/css">
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container a {
    padding: 25px;
    border-radius: 5px;
  }
</style>
