<a href="https://discord.com/oauth2/authorize?client_id=1294439309503369277&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fdiscord&scope=identify+guilds.members.read">Login</a>
