<h1>Liste des sondage</h1>

<table>
  <% for(const survey of surveys) { %>
    <tr>
      <td><%= survey.question %></td>
      <td>
        <a href="/app/surveys/<%= survey.id %>">Voir</a>
      </td>
    </tr>
  <% } %>
</table>

<style type="text/css">
  table {
    overflow: auto;
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
    background-color: #282b30;
  }

  table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
</style>
