<h1><%= survey.question %></h1>

<p>Attention, vous ne pouvez voter qu'une seule fois et vous ne pourrez pas modifier votre vote</p>

<% if (already_voted) { %>
  <div class="already-voted-container">
    <p>Votre vote a bien été pris en compte, merci pour votre participation, elle est essentielle à la démocration cégomosienne</p>
  </div>
<% } else { %>
  <form id="vote-form">
    <div class="vote-form-container">
      <% for(const survey_response of survey_responses) { %>
      <div class="form-container">
        <input type="radio" name="vote" value="<%= survey_response.id %>"/>
        <label for="vote"><%= survey_response.response %></label>
      </div>
      <% } %>
    </div>

    <button type="submit" class="fake-link">Voter</button>
  </form>
<% } %>

<style type="text/css">
  form {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;
    padding: 5px;
  }
  .form-container input, .form-container label {
    padding: 5px;
  }
  .form-container input {
    background-color: #282b30;
    border-radius: 5px;
    color: #ffffff;
  }
  .vote-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #vote-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .already-voted-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>

<script>
  const survey_id = <%= survey.id %>
  const form = document.querySelector("#vote-form")

  form.addEventListener("submit", function(event) {
    event.preventDefault()

    const vote = document.querySelector("input[name='vote']:checked")

    if (vote != undefined) {
      axios({
        method: "post",
        url: `/app/surveys/${survey_id}/vote`,
        data: {
          vote: vote.value
        }
      }).then(function(response) {
        switch (response.status) {
          case 201:
            window.location.replace(`/app/surveys/${survey_id}`)
            break;
          case 422:
            break;
          case 404:
            break;
          default:
            console.log(`error: ${response.data}`)
        }
      })
    }
  })
</script>
