<form method="post" action="/surveys">
  <div>
    <label for="question">Question</label>
    <input type="text" name="question" id="question"/>
  </div>
  <button type="submit">Créer</button>
</form>
